<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<% if @task.completed == true %>
  <p><input type="checkbox" disabled="disabled" checked> This task is completed</p>
<% else %>
  <p><input type="checkbox" disabled="disabled"> This task is not completed yet</p>
<% end %>

<%= link_to "Edit this task", edit_task_path %>
<%= link_to "Back to list", tasks_path %>


